body {
    font-family: Arial, Helvetica, sans-serif;
}

#superior {
    box-sizing: content-box;
}

header {
    background-color: rgba(78, 177, 144, 0.4);
}

.navbar {
    background-color: transparent;
    border: none;
}

.barraBuscador {
    /* min-width: 500px; */
    border: none;
}

.nav-link {
    font-weight: 600;
    font-size: 20px;
}

.nav-link:hover{
    transition: all 400ms ease;
    transform: translateY(-3%);
}


#nav-center {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin-left: 50px;
    margin-right: 50px;
}

#superior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.botonB {
    background-color: rgb(39, 110, 146);
    color: white;
}

.botonB:hover {
    color: white;
}

hr {
    height: 10px;  /* cambias largo del borde */
    width: 90%;
    background-color: rgb(39, 110, 146);
    border: none;
    border-radius: 3px;
}

#login {
    text-align: right;
    margin-top: 15px;
}

#login a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

#buscar {
    margin-left: 235px;
    margin-right: 235px;
    margin-top: 30px;
}

.sesion {
    color: rgb(0, 0, 0, 0.6);
}

.sesion:hover{
    transition: all 400ms ease;
    transform: translateY(-3%);
    color: black;
}

@media screen and (max-width:1030px) {
    .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    }
}


@media(max-width:1069px){
    #buscar {
        margin-left: 60px;
        margin-right: 60px;
    }
}
/* 
@media (max-width:600px) {
    /*desktop first*/


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

/*     color:white; 
    background-color: black;
    text-align: center;
    height: 100px;
    line-height: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
}
*/