.aco{
    
    border-radius: 20px;
    margin: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    
}
.card-deck{
    margin-top: 15px;
    justify-content: center;
    padding: 5px;
    align-items: center;
    margin-bottom: 15px;
}
.card-body {
    
    text-align: center;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    border-radius: 20px;
    border-color: black;
}

.cont-imagen{
    border-radius: 20px;
}
.card-title{
    justify-content: center;
}
.orientacion{
    text-align: justify;
    margin: 1px;
}
.barra{
    height: 7px;
    width: 45%;
    background-color: rgb(96, 186, 155);
}

#textoPaquete{
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
